<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Service</title>
        <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
        <link href="https://api.mapbox.com/mapbox-gl-js/v3.2.0/mapbox-gl.css" rel="stylesheet">
        <script src="https://api.mapbox.com/mapbox-gl-js/v3.2.0/mapbox-gl.js"></script>
        <style>
                body { margin: 0; padding: 0; }
                #map {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    width: 70%;
                    height: 100%;
                }
                .return {
                    position: absolute;
                    top: 0;
                }

                .dropdown {
                    position: relative;
                    top: 0px;
                    left: 1330px;
                }

                #waypointTable {
                    position: relative;
                    left: 1330px;
                    border: 1px solid #ddd;
                }

                .waypointTable th, .waypointTable td {
                    border: 1px solid #ddd;
                    padding: 8px;
                    text-align: left;
                }

                .waypointTable tr:nth-child(even) {
                    background-color: #f2f2f2;
                }

                #controlPanelForm {
                    position: relative;
                    left: 1330px;
                    top: 10px;
                }
                #droneActionForm {
                    position: relative;
                    left: 1330px;
                    top: 10px;
                }
        </style>
    </head>
    <body>
        <!-- 
        사용 시나리오
        1. 최초 접속 시, 아무것도 띄우지 않음
        2. 디바이스 선택 시 POST로 select 데이터 전송
        -->
        <form action="http://203.255.57.136:5000/service" method="POST">
            <select id="dropdown" name="dropdown" class="dropdown">

            </select>
            <button type="submit" class="dropdown">디바이스 선택</button>
        </form>

        <h3 class="dropdown">
            Selected Device: {{ selectDevice }}
        </h3>

        <!-- Mapbox API에서 지도를 불러옴 -->
        <script src="https://unpkg.com/@turf/turf@6/turf.min.js"></script>
        <div id="map"></div>

        <!-- 메인 페이지로 이동하는 버튼 -->
        <div class = "input">
            <form action = "http://203.255.57.136:5000" method = "POST">
                <button class = "return">되돌아가기</button>
            </form>
        </div>

        <!-- 웨이포인트 테이블 -->
        <table id="waypointTable">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Longitude</th>
                    <th>Latitude</th>
                    <th>Type</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>

        <!-- 드론에 드론정보시스템의 waypoint를 전송 -->
        <form id="controlPanelForm" action="/submit" method="POST">
            <div id="controlPanel">
                <button type="submit">명령전송</button>
            </div>
        </form>

        <!-- 드론 이륙, 착륙, 열선 작동, -->
        <form id="droneActionForm" action="/submit" method="POST">
            <div id="actionPanel">
                <button type="submit">이륙</button>
                <button type="submit">착륙</button>
                <button type="submit">열선 작동</button>
            </div>
        </form>

        <script>
            const WP_TYPE_MOVE = 0;
            const WP_TYPE_DROP_AP = 1;
            mapboxgl.accessToken = "pk.eyJ1IjoibGdoNjk2MyIsImEiOiJjbHRwaWJ5NXAwNjNpMmpwZmo0dzg5MmcyIn0.WRICTXvdHP46wiy2GmLJDw"
            const map = new mapboxgl.Map({
                container: 'map',
                style: 'mapbox://styles/mapbox/dark-v11',
                center: [128.0996, 35.1531],
                zoom: 14,
                pitch: 40
            });

            // 선택된 디바이스 변수
            var selectDevice = "{{ selectDevice }}";

            // 모든 지역을 통신 불가능한 상태로 표시
            function paintAllRed() {
                map.addSource('redzone', {
                    'type': 'geojson',
                    'data': {
                        'type': 'FeatureCollection',
                        'features': [
                            {
                                'type': 'Feature',
                                'geometry': {
                                    'type': 'Polygon',
                                    'coordinates': [
                                        [
                                            [127.93792855937261, 35.25664951839123],
                                            [128.00330596494422, 35.09231131694267],
                                            [128.19570742465908	, 35.09149131771568],
                                            [128.2571506445019	, 35.24796148855128]
                                        ]
                                    ]
                                },
                                'properties': {
                                    'name': 'redzone'
                                }
                            }
                        ]
                    }
                });

                map.addLayer({
                    'id': 'redzone',
                    'type': 'fill',
                    'source': 'redzone',
                    'layout': {},
                    'paint': {
                        'fill-color': 'rgba(255, 0, 0, 1)',
                        'fill-opacity': 0.1
                    }
                });

                console.log("executed");
            }

            // 음영지역 탐색 결과를 가져오는 함수
            async function getPolyData() {
                const response = await fetch(
                    'http://203.255.57.136:5001/hole?gcs_lat=35.15864&gcs_lng=128.09348&gcs_alt=1.0&flight_alt=1&distance=100',
                    { method: 'GET' }
                );
                const jsonData = await response.json();
                var data = jsonData.result;
                return data;
            }

            // debug
            // returnPolyArray();
            // 음영지역 폴리곤을 배열 반환
            async function returnPolyArray() {
                var polyArray = []; 
                const data = await getPolyData();
                for (var i = 0; i < data.length; i++) {
                    var polygon = {
                        'type': 'Feature',
                        'geometry': {
                            'type': 'Polygon',
                            'coordinates': [
                                data[i]
                            ]
                        }
                    }
                    polyArray.push(polygon);
                }
                return polyArray;
            }

            // 레이어에 추가하는 함수
            async function addPolytoLayer() {
                // 랜덤한 RGB값 생성
                var randomColor = '#' + Math.floor(Math.random()*16777215).toString(16);

                const polygon = await returnPolyArray();
                for (var i = 0; i < polygon.length; i++) {
                    if(i != 0) {
                        map.addLayer({
                            'id': i.toString(),
                            'type': 'fill',
                            'source': {
                                'type': 'geojson',
                                'data': polygon[i]
                            },
                            'layout': {},
                            'paint': {
                                'fill-color':randomColor,
                                'fill-opacity': 0.8
                            }
                        }, (i-1).toString());
                    }
                    else {
                        map.addLayer({
                            'id': i.toString(),
                            'type': 'fill',
                            'source': {
                                'type': 'geojson',
                                'data': polygon[i]
                            },
                            'layout': {},
                            'paint': {
                                'fill-color': randomColor,
                                'fill-opacity': 0.8
                            }
                        });
                    }
                }
            }

            // 디바이스 종류를 가져오는 함수
            async function getAllDevice() {
                const response = await fetch(
                    'http://203.255.57.136:5001/device',
                    { method: 'GET' }
                );
                const jsonData = await response.json();
                const data = jsonData.result;
                // debug
                // console.log(data);
                return data;
            }

            // Drop down 선택에 fetch한 디바이스 추가
            async function updateDropDown() {
                const data = await getAllDevice();

                const dropdown =  document.getElementById('dropdown');

                for (i = 0; i < data.length; i++) {
                    const device = data[i];
                    const option = document.createElement('option');
                    option.value = device;
                    option.textContent = device;
                    dropdown.appendChild(option);
                }
            }

            // 드론의 위도 경도를 저장하는 배열
            var position = [];
            // 실시간 드론 위치를 가져오고 geojson 형태로 반환
            async function getDroneLocation(deviceID) {
                url = 'http://203.255.57.136:5001/device/' + deviceID;
                const response = await fetch( 
                    url,
                    { method: 'GET' }
                );

                const data = await response.json();
                position = data.result;
                console.log(position);

                return {
                    'type': 'FeatureCollection',
                    'features': [
                        {
                            'type': 'Feature',
                            'geometry': {
                                'type': 'Point',
                                'coordinates': [position.longitude, position.latitude]
                            }
                        }
                    ]
                }
            }
            // debug
            // getDroneLocation();

            // 실시간 드론 위치 출력하는 함수
            async function printDroneLocation(deviceID) {
                if (!map.getSource(deviceID)) {
                    map.addSource(deviceID, {
                        type: 'geojson',
                        data: {
                            type: 'FeatureCollection',
                            features: []
                        }
                    });

                    map.addLayer({
                        'id': deviceID,
                        'type': 'symbol',
                        'source': deviceID,
                        'layout': {
                            'icon-image': 'rocket'
                        }
                    });
                }
                const geojson = await getDroneLocation(deviceID);
                map.getSource(deviceID).setData(geojson);
            }
            
            // debug
            // console.log(getWPData());
            // 웨이포인트를 가져오는 함수 & 웨이포인트 점 표시
            async function getWPData() {
                // 색 구분을 위한 div 만들기
                
                markers = [];
                coordinates = [];
                const response = await fetch(
                    'http://203.255.57.136:5001/waypoint',
                    { method: 'GET' }
                );
                const data = await response.json();
                const result = data.result; 
                console.log(result);
                for (var i = 0; i < result.length; i++) {
                    var div_blue = document.createElement('div');
                    div_blue.className = 'blue-marker';
                    div_blue.style.backgroundColor = 'blue';
                    div_blue.style.width = '15px';
                    div_blue.style.height = '15px';
                    div_blue.style.borderRadius = '50%';

                    var div_red = document.createElement('div');
                    div_red.className = 'red-marker';
                    div_red.style.backgroundColor = 'red';
                    div_red.style.width = '15px';
                    div_red.style.height = '15px';
                    div_red.style.borderRadius = '50%';
                    if (result[i].type == WP_TYPE_MOVE) {
                        newPoint = [result[i].latitude, result[i].longitude];
                        coordinates.push(newPoint);
                        new mapboxgl.Marker(div_blue)
                            .setLngLat(newPoint)
                            .addTo(map);
                    }
                    else if (result[i].type == WP_TYPE_DROP_AP) {
                        newPoint = [result[i].latitude, result[i].longitude];
                        coordinates.push(newPoint);
                        new mapboxgl.Marker(div_red)
                            .setLngLat(newPoint)
                            .addTo(map);
                    }
                }
                return coordinates;
            }

            // 웨이포인트간 직선 그리는 함수
            async function drawLine() {
                coordinates = await getWPData();
                map.addSource('route', {
                    'type': 'geojson',
                    'data': {
                        'type': 'Feature',
                        'properties': {},
                        'geometry': {
                            'type': 'LineString',
                            'coordinates': coordinates
                        }
                    }
                });
                map.addLayer({
                    'id': 'route',
                    'type': 'line',
                    'source': 'route',
                    'layout': {
                        'line-join': 'round',
                        'line-cap': 'round'
                    },
                    'paint': {
                        'line-color': '#888',
                        'line-width': 8
                    }
                });
                console.log('executed drawLine')
            }
            

            // REST API를 통해 웨이포인트 위치 가져오는 함수
            async function getAllWaypoint() {
                url = 'http://203.255.57.136:5001/waypoint';
                const response = await fetch( 
                    url,
                    { method: 'GET' }
                );

                var data = await response.json();
                data = data.result;
                console.log(data);

                return data;
            }

            // 웨이포인트 테이블 출력함수
            async function renderTable() {
                const tableBody = document.querySelector('#waypointTable tbody');
                // debug
                console.log(tableBody);
                var waypointList = await getAllWaypoint();
                for (var i = 0; i < waypointList.length; i++) {
                    const row = document.createElement('tr');
                    const idCell = document.createElement('td');
                    const latitudeCell = document.createElement('td');
                    const longitudeCell = document.createElement('td');
                    const typeCell = document.createElement('td');
                    const editButtonCell = document.createElement('td'); 
                    const deleteButtonCell = document.createElement('td');

                    idCell.textContent = waypointList[i]['waypoint_id'];
                    latitudeCell.textContent = waypointList[i]['latitude'];
                    longitudeCell.textContent = waypointList[i]['longitude'];
                    if (waypointList[i]['type'] == WP_TYPE_MOVE) {
                        typeCell.textContent = '이동'
                    }
                    else if (waypointList[i]['type'] == WP_TYPE_DROP_AP) {
                        typeCell.textContent = '투하'
                    }

                    const editButton = document.createElement('button');
                    editButton.textContent = '수정';
                    // DB 웨이포인트 정보 수정
                    async function editWP(e) {
                        data = [idCell.textContent, 0, e.lngLat.lng, e.lngLat.lat];
                        const payload = {data: data};
                        fetch('http://203.255.57.136:5000/editWP', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify(data)
                        });
                    }
                    // 수정 버튼 리스너 추가
                    editButton.addEventListener('click', function() {
                        map.off('click', onClick);
                        map.on('click', editWP);
                        map.on('mouseup', () => {
                            location.reload();
                        })
                    })

                    const deleteButton = document.createElement('button');
                    deleteButton.textContent = '삭제';
                    // 삭제 버튼 구동부

                    editButtonCell.appendChild(editButton);
                    deleteButtonCell.appendChild(deleteButton);

                    row.appendChild(idCell);
                    row.appendChild(latitudeCell);
                    row.appendChild(longitudeCell);
                    row.appendChild(typeCell);
                    row.appendChild(editButtonCell);
                    row.appendChild(deleteButtonCell);

                    tableBody.appendChild(row);
                }
            }

            // Mapbox 이벤트 리스너
            map.on('load', paintAllRed); 
            map.on('load', addPolytoLayer);
            //map.on('load', onLoad);
            map.on('load', renderTable);
            map.on('load', updateDropDown);
            map.on('load', drawLine);
            
            
            
            // 지도 클릭 리스너에 추가될 함수
            map.on('click', onClick);

            // 지도 우클릭 리스너에 추가될 함수
            map.on('contextmenu', onRClick);

            // 지도가 로드될 때 리스너 함수
            async function onLoad() {
                allDevice = await getAllDevice();
                const updateAllDevicePosition = setInterval(async () => {
                    allDevice.forEach(element => {
                        printDroneLocation(element);
                    });}, 1000);
            }

            // 지도가 클릭 될 때 리스너 함수
            // 클릭 시 이동 웨이포인트 표시
            async function onClick(e) {
                newPoint = [e.lngLat.lng, e.lngLat.lat];
                payload = [WP_TYPE_MOVE, e.lngLat.lng, e.lngLat.lat];
                new mapboxgl.Marker()
                    .setLngLat(newPoint)
                    .addTo(map);

                // debug
                console.log(newPoint);

                // newPoint 변수를 Flask로 보내기
                const response = await fetch('/addWP', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({payload: payload})
                });
                location.reload();
            }

            // 우클릭 시 투하 웨이포인트 표시
            async function onRClick(e) {
                newPoint = [e.lngLat.lng, e.lngLat.lat];
                payload = [WP_TYPE_DROP_AP, e.lngLat.lng, e.lngLat.lat];
                new mapboxgl.Marker()
                    .setLngLat(newPoint)
                    .addTo(map);
                
                // debug
                console.log(newPoint);

                // newPoint 변수를 Flask로 보내기
                const response = await fetch('/addWP', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({payload: payload})
                });
                location.reload();
            }

            // debug
            //map.off('click', OnClick);
        </script>
    </body>
</html>