<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Animate a point along a route</title>
<meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
<link href="https://api.mapbox.com/mapbox-gl-js/v3.2.0/mapbox-gl.css" rel="stylesheet">
<script src="https://api.mapbox.com/mapbox-gl-js/v3.2.0/mapbox-gl.js"></script>
<style>
    body { margin: 0; padding: 0; }
    #map {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 75%;
        height: 100%;
    }
    .return {
        transform: translateX(0%);
    }

    table {
        position: relative;
        left: 1460px;
        border: 1px solid #ddd;
    }

    .waypointTable th, .waypointTable td {
            border: 1px solid #ddd; 
            padding: 8px;
            text-align: left;
    }

    .waypointTable tr:nth-child(even) {
        background-color: #f2f2f2;
    }
</style>
</head>
<body>

<script src="https://unpkg.com/@turf/turf@6/turf.min.js"></script>

<div id="map"></div>

<div class = "input">
    <form action = "http://203.255.57.136:5000/" method = "POST">
        <button class = "return">되돌아가기</button>
    </form>
</div>

<table id="waypointTable">
    <thead>
        <tr>
            <th>ID</th>
            <th>longitude</th>
            <th>Latitude</th>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>

<script>
	mapboxgl.accessToken = "pk.eyJ1IjoibGdoNjk2MyIsImEiOiJjbHRwaWJ5NXAwNjNpMmpwZmo0dzg5MmcyIn0.WRICTXvdHP46wiy2GmLJDw"
    const map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/dark-v11',
        center: [128.0996, 35.1531],
        zoom: 14,
        pitch: 40
    });

    // Waypoint 리스트 출력함수
    function renderTable() {
        const tableBody = document.querySelector('#waypointTable tbody');
        for(var i = 0; i < result.length; i++) {
            const row = document.createElement('tr');
            const idCell = document.createElement('td');
            const latitudeCell = document.createElement('td'); 
            const longitudeCell = document.createElement('td');
            idCell.textContent = result[i]['waypoint_id'];
            latitudeCell.textContent = result[i]['latitude'];
            longitudeCell.textContent = result[i]['longitude'];
            row.appendChild(idCell);
            row.appendChild(latitudeCell);
            row.appendChild(longitudeCell);
            tableBody.appendChild(row); 
        }
    }

    markers = [];
    var result = [];

    // WP 경도, 위도 저장 하는 배열
    var coordinates = [];

    // WP간 직선 그리는 함수
    function drawLine() {
        map.on('load', () => {
        map.addSource('route', {
                    'type' : 'geojson',
                    'data' : {
                        'type' : 'Feature',
                        'properties' : {},
                        'geometry': {
                            'type' : 'LineString',
                            'coordinates' : coordinates
                        }
                    }
                });

        map.addLayer({
            'id' : 'route',
            'type' : 'line',
            'source' : 'route',
            'layout' : {
                    'line-join' : 'round',
                    'line-cap' : 'round'
            },
            'paint' : {
                'line-color' : '#888',
                'line-width' : 8              
            }
        });
    })
    }
    
    // REST API를 통해 WP 위치 가져오는 함수
    const fetchData = async () => {
        try {
            markers = [];
            coordinates = [];
            const response = await fetch(
                'http://203.255.57.136:5001/waypoint',
                { method: 'GET' }
            );
            const data = await response.json();
            result = data.result;
            for(var i = 0; i < result.length; i++) {
                newPoint = [result[i].latitude, result[i].longitude];
                coordinates.push(newPoint);
                new mapboxgl.Marker() // Correct method name
                    .setLngLat(newPoint)
                    .addTo(map);
            }
            drawLine();
        } catch (error) {
            console.error('Error fetching data:', error);
        }
        renderTable()
    };

    fetchData();

    // 지도 클릭시 WP 추가 
    map.on('click', (e) => {
        newPoint = [e.lngLat.lng, e.lngLat.lat];
        new mapboxgl.Marker() 
            .setLngLat(newPoint)
            .addTo(map);
        alert("WP " + coordinates.length + " Setted");
        console.log(e.lngLat.lng);

        // newPoint 변수를 Flask로 보내기
        fetch('/service', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ newPoint: newPoint })
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('서버 오류');
            }
            return response.json();
        })
        .then(data => {
            console.log('서버로부터의 응답:', data);
        })
        .catch(error => {
            console.error('오류 발생:', error);
        });
        location.reload();
    })

    // San Francisco
    const origin = [128.0928, 35.1544];

    // Washington DC
    const destination = [128.1046, 35.1532];

    // A single point that animates along the route.
    // Coordinates are initially set to origin.
    const start = {
        'type': 'FeatureCollection',
        'features': [
            {
                'type': 'Feature',
                'properties': {},
                'geometry': {
                    'type': 'Point',
                    'coordinates': origin
                }
            }
        ]
    };

    const end = {
        'type': 'FeatureCollection',
        'features': [
            {
                'type': 'Feature',
                'properties': {},
                'geometry': {
                    'type': 'Point',
                    'coordinates': destination
                }
            }
        ]
    };

    map.on('load', () => {
        map.addSource('start', {
            'type': 'geojson',
            'data': start
        });

        map.addSource('end', {
            'type': 'geojson',
            'data': end
        })
    });

    function pointOnCircle(time) {
        return {
            'type': 'Point',
            'coordinates': [origin[0] + time/30*(destination[0]-origin[0]), origin[1] +  time/30*(destination[1]-origin[1])]
        };
    }

    map.on('load', () => {
        // Add a source and layer displaying a point which will be animated in a circle.
        map.addSource('point', {
            'type': 'geojson',
            'data': pointOnCircle(0)
        });

        map.addLayer({
            'id': 'point',
            'source': 'point',
            'type': 'symbol',
            'layout': {
                // This icon is a part of the Mapbox Streets style.
                // To view all images available in a Mapbox style, open
                // the style in Mapbox Studio and click the "Images" tab.
                // To add a new image to the style at runtime see
                // https://docs.mapbox.com/mapbox-gl-js/example/add-image/
                'icon-image': 'airport',
                'icon-size': 1.5,
                'icon-rotate': ['get', 'bearing'],
                'icon-rotation-alignment': 'map',
                'icon-allow-overlap': true,
                'icon-ignore-placement': true
            }
        });

        function animateMarker(timestamp) {
            // Update the data to a new position based on the animation timestamp. The
            // divisor in the expression `timestamp / 1000` controls the animation speed.
            // 시간(초) 단위로 움직임. 5초동안 움직이는 코드임.
            if(timestamp <= 20000) {
              map.getSource('point').setData(pointOnCircle(timestamp / 1000));

              // Request the next frame of the animation.
              requestAnimationFrame(animateMarker);
            }
        }

        // Start the animation.
        animateMarker(0);
      }
    )

</script>

</body>
</html>